@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/ArchivoBlack-Regular.ttf') format('opentype');
    font-display: swap;
}

/* Reset browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Spacer styles - controls the space before the About section */
.spacer {
    height: 50vh;
}

/* About Section Styles */

/* Background and layering styles for the entire About section */
.about {
    z-index: 2;
    background: #1b1f2c;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
}

.container{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
    background-color: #10101a;
    border-radius: 35px;
    z-index: -1; 
    margin-top: 6.5%;
}


.about-title {
    font-family: 'Archivo';
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #8e5cff, #32eff9);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent;
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
}

.profilepic{
    max-width: 100%;
    height: auto;
}

.about-desc-text {
    font-family: "Lexend";
    background: none;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial; 
    color: #ffffff;
}

.language-container{
    display: flex;
    margin-bottom: 3%;
}

.javascript-logo, .css-logo, .cpp-logo,
.html-logo, .react-logo, .java-logo{
    height: 2rem;
    vertical-align: middle;
    fill: #ffffff;
    transition: fill 0.3s ease-in-out;
    margin-left: 2%;
}



.resume-parent{
    max-height: 2rem;
    max-width: auto;
    display: flex;
    margin-bottom: 5%;
}

.resume-link{
   padding-right: 2%;
}

.resume-link{
    display: flex;
    margin-right: 1%;
}

.resume-logo{
    height: 2rem;
    vertical-align: middle;
    cursor: pointer;
    fill: #ffffff;
    transition: fill 0.3s ease-in-out;
}

  .resume-text{
    font-family: "Lexend";
    color: #ffffff;
    margin-top: 1%;
    transition: color 0.3s ease;
  }

    .resume-link,
    .resume-link:hover,
    .resume-link:visited,
    .resume-link:active{
        text-decoration: none;
    }
    
    .resume-link:hover .resume-logo,
    .resume-link:hover .resume-text {
        fill: #979797;
        color: #979797;
    }