@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/ArchivoBlack-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Black.ttf') format('opentype');
}

/* Reset browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Spacer styles - controls the space before the About section */
.spacer {
    height: 50vh;
}

/* About Section Styles */

/* Background and layering styles for the entire About section */
.about {
    min-height: 60vh;
    overflow: auto;
    z-index: 2;
    background: #1b1f2c;
    border-radius: 35px;
    position: relative;
}

.container{
}

.about-title {
    font-family: 'Archivo';
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #8e5cff, #32eff9);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent;
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
}

.profilepic{
    max-width: 100%;
    height: auto;
}

.about-desc-text {
    font-family: "Lexend";
    background: none;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial; 
    color: #ffffff;
}

.tech-stack-container{
}

.stack-icon{
    height: 35px;
    margin-bottom: 3%;
}

.stack-text{
    font-family: 'Lexend';
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #8e5cff, #32eff9);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent;
    text-align: center;
    font-size: 1rem;
}

.stack-images{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    vertical-align: middle;
    padding-left: 1%;
    margin-bottom: 1%;
}

.tech-icon {
    height: 30px;  /* adjust as needed */
    padding-left: 10%;
}

