/* Other styles for your home page */
.about {
    z-index: 1;
    background-color: aquamarine;
}

/* Styles for the About section */
.about h2 {
    font-family: 'Archivo';
    color: #333;
    margin-bottom: 1.5rem;
}

.about p {
    font-family: 'Lexend';
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
}

.about img {
    max-width: 100%;
    border-radius: 5px;
}
