/* Fonts */
@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/ArchivoBlack-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Black.ttf') format('opentype');
}

/* Reset browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {    
}

/* Main container */
.main-container {
  position: relative;
}

/* Background image */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/design/background.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

/* Text wrapper */
.text-wrapper {
  margin-top: 30vh;
}

/* Custom heading */
.custom-heading {
  font-family: 'Archivo';
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #8e5cff, #32eff9);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

/* Waving hand image */
.waving-hand {
  height: 5vh;
  width: auto;
  vertical-align: middle;
}

/* Custom paragraph */
.custom-paragraph {
  color: #ffffff; 
  font-family: 'Archivo';
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin: 0 auto;
}

.linkedin-logo{
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  vertical-align: middle;
  cursor: pointer;
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
  transform: translateY(-3px);
}

.git-hub-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  vertical-align: middle;
  cursor: pointer;
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
  transform: translateY(0px);
}

.linkedin-logo:hover, .git-hub-logo:hover {
  fill: #979797;
}

/* This will change the scrollbar for the whole page */
body::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1b1f2c; /* Color of the track */
}

body::-webkit-scrollbar-thumb {
  background: #333547; /* Color of the scroll thumb */
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #282942; /* Color of the scroll thumb on hover */
}

