@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/ArchivoBlack-Regular.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects {
    min-height: auto;
    overflow: auto;
    z-index: 2;
    background: #1b1f2c;
    position: relative;
}

.project-title {
    font-family: 'Archivo';
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #8e5cff, #32eff9);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent;
    text-align: center;
    font-size: 2rem;
    padding-top: 3%;
}

.row{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.project-1-img{
    border-radius: 15px;
}

.title-p1{
    font-family: 'Archivo';
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #8e5cff, #32eff9);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent;
    font-size: 1.5rem;
    text-align: center; 
    margin-top: 3%;
}


.desc-1{
    font-family: "Lexend";
    color: #ffffff;
    word-wrap: break-word;
}

.project-1-icons{
    max-height: 2rem;
    max-width: auto;
    display: flex;
    margin-bottom: 5%;
}

.github-parent, .external-link-parent {
   padding-right: 2%;
}

.github-link, .external-link{
    display: flex;
    margin-right: 1%;
}

.git-hub-logo-p1, .external-link-logo-p1{
    height: 2rem;
    vertical-align: middle;
    cursor: pointer;
    fill: #ffffff;
    transition: fill 0.3s ease-in-out;
}

  .github-text, .link-text{
    font-family: "Lexend";
    color: #ffffff;
    margin-top: 1%;
    transition: color 0.3s ease;
  }

    .github-link,
    .github-link:hover,
    .github-link:visited,
    .github-link:active,
    .external-link,
    .external-link:hover,
    .external-link:visited,
    .external-link:active{
        text-decoration: none;
    }

    .github-link:hover .git-hub-logo-p1,
    .github-link:hover .github-text {
        fill: #979797;
        color: #979797;
    }
    
    .external-link:hover .external-link-logo-p1,
    .external-link:hover .link-text {
        fill: #979797;
        color: #979797;
    }
    