/* Imports */
@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Archivo';
  src: url('../assets/fonts/ArchivoBlack-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Black.ttf') format('opentype');
}


body {
    background-color:rgb(60, 68, 212);
}


.main-container {
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.text-wrapper {
  /* Add any custom styles for the text wrapper, if needed */
  margin-top: 30vh;
}

.custom-heading {
  font-family: 'Archivo';
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #8e5cff, #32eff9);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  
}

.custom-paragraph {
  /* Additional styles for the paragraph, if needed */
  color: #ffffff; /* Example: change the text color */
  font-family: 'Archivo';
}


